body {
    font-family: Arial, sans-serif;
    background-color: rgb(14, 13, 23);
    color: white;
}

nav{
    background-image: linear-gradient(rgba(250, 128, 114, 1), rgba(250, 128, 114, 0.1));
}

footer{
    background-image: linear-gradient(rgba(250, 128, 114, 0.1), rgba(250, 128, 114, 1));
}

.navbar-brand{
    height: 100px;
}

.banner {
    background: url('restaurant.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-size: 2rem;
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    margin-top: 20px;
}


